In [24]:
print('%5.1f'%124.49)

124.5

In [10]:
print('하하하')
print(200+100)
print('200+100')
print(int('200')+100)
var1=input()
var2=input()
re=var1+var2
print(var1,'+',var2,'=',re)
pow(3,3)

하하하
300
200+100
300
1
2
1 + 2 = 12

27

In [20]:
a=int(input('교환할 돈은 얼마?: '))
c500=a//500
a%=500
c100=a//100
a%=100
c50=a//50
a%=50
c10=a//10
a%=10
print('500원짜리==> %d'%c500)
print('100원짜리==> %d'%c100)
print('50원짜리==> %d'%c50)
print('10원짜리==> %d'%c10)
print('바꾸지 못한 잔돈 ==> %d'%a)
a>100

교환할 돈은 얼마?: 7777
500원짜리==> 15
100원짜리==> 2
50원짜리==> 1
10원짜리==> 2
바꾸지 못한 잔돈 ==> 7

False

In [62]:
num=0
a=int(input('입력 진수 결정(2,8,10,16): '))
b=input('값 입력: ')
if a==16:
    num=int(b,16)
if a==10:
    num=int(b,10)
if a==8:
    num=int(b,8)
if a==2:
    num=int(b,2)
print('16진수=>  ',hex(num))
print('10진수=>  ',num)
print('8진수=>  ',oct(num))
print('2진수=>  ',bin(num))

입력 진수 결정(2,8,10,16): 12
값 입력: 1
16진수=>   0x0
10진수=>   0
8진수=>   0o0
2진수=>   0b0

In [1]:
a=int(input('입력 진수 결정(16/10/8/2): '))
b=input('값 입력: ')
if a==16:
    num=int(b,16)
if a==10:
    num=int(b,10)
if a==8:
    num=int(b,8)
if a==2:
    num=int(b,2)
if a!=16 and a!=10 and a!=8 and a!=2:
    print('16,10,8,2 숫자 중 하나만 입력하세요')
    exit()

입력 진수 결정(16/10/8/2): 16
값 입력: 1

In [5]:
b=0
a=int(input('연도를 입력하세요: '))
if (a%4==0 and a%100!=0) or (a%400==0):
    print('%d는 윤년입니다'%a)
else:
    print('%d는 윤년이 아닙니다'%a)

연도를 입력하세요: 2020
2020는 윤년입니다

In [9]:
score=int(input('점수: '))
if score>=60:
    res='합격'
elif score>=30:
    res='그냥그저'
else:
    res='불합격!'
print(res)

점수: 200
합격

In [12]:
fru=['딸기','귤']
if '딸기' in fru:
    print('true')

true

In [16]:
import random
num=[]
for i in range(0,10):
    num.append(random.randrange(0,10))
print(num)
for i in range(0,10):
    if i not in num:
        print('%d는 리스트에 없다'%i)

[8, 8, 1, 4, 6, 8, 7, 9, 8, 5]
0는 리스트에 없다
2는 리스트에 없다
3는 리스트에 없다

In [19]:
score=55
if score>=60:
    print('합격입니다')
elif score>=40:
    print('불합격 괴락x')
else:
    print('불,괴')

불합격 괴락x

In [23]:
import random
a=int(random.randrange(1,7))
b=int(random.randrange(1,7))
print(a)
print(b)
if a==b:
    print('비김')
elif a>b:
    print('a')
else:
    print('b')

6
3
a

In [30]:
a,b,c,d,e=0,0,0,0,0
sel=int(input('1이나 2중에 입력: '))
if sel==1:
    a=input('수식을 입력하세요: ')
    b=eval(a)
    print('%s의 결과는 %f입니다.'%(a,b))
if sel==2:
    c=int(input('첫번째 숫자:'))
    d=int(input('두번째 숫자:'))
    for i in range(c,d+1):
        e+=i
    print('%d+...+%d=%d이다'%(c,d,e))

1이나 2중에 입력: 1
수식을 입력하세요: 300
300의 결과는 300.000000입니다.

In [32]:
a=int(input('시작값:'))
b=int(input('끝값:'))
c=int(input('증가값:'))
num=0
for i in range(a,b+1,c):
    num+=i
print('%d부터 %d까지의 합계: %d'%(a,b,num))

시작값:1
끝값:30
증가값:1
1부터 30까지의 합계: 465

In [41]:
a=int(input('***숫자를 입력하세요: '))
b=0
for i in range(2,a):
    if a%i==0:
        b=False
if b==False:
    print('소수아님')
else:
    print('소수')

***숫자를 입력하세요: 100
소수아님

In [53]:
aa=[0]*100
for j in range(0,100):
    aa[j]=j+1
for i in range(0,100):
    hap=hap+aa[i]
print(hap)

10100

In [58]:
aa,bb,value=[],[],0
for i in range(0,100):
    aa.append(value)
    value+=3
print(aa)
for j in range(0,100):
    bb.append(aa[99-j])
print(bb)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]
[297, 294, 291, 288, 285, 282, 279, 276, 273, 270, 267, 264, 261, 258, 255, 252, 249, 246, 243, 240, 237, 234, 231, 228, 225, 222, 219, 216, 213, 210, 207, 204, 201, 198, 195, 192, 189, 186, 183, 180, 177, 174, 171, 168, 165, 162, 159, 156, 153, 150, 147, 144, 141, 138, 135, 132, 129, 126, 123, 120, 117, 114, 111, 108, 105, 102, 99, 96, 93, 90, 87, 84, 81, 78, 75, 72, 69, 66, 63, 60, 57, 54, 51, 48, 45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3, 0]

In [61]:
a,b,value=[],[],0
for i in range(0,200):
    a.append(value)
    value+=3
for j in range(0,200):
    b.append(a[199-j])
print('b[0]에는 %d가, b[199]에는 %d가 입력된다.'%(b[0],b[199]))

b[0]에는 597가, b[199]에는 0가 입력된다.

In [78]:
a={'이름':'김나연','학과':'통계학과','연락처':'01049297304'}
a['나이']=21
a['나이']='곧 22'
a
del(a['나이'])
a
a.items()
a=['귤','사과','참외','머머머포도']
'참외' in a
'무무무' in a

False

In [85]:
t={}
t['이름']='나연'
t['나이']='21'
t['학과']='통계학과'
len(t)
for i in t.keys():
    print('%s=>%s'%(i,t[i]))

이름=>나연
나이=>21
학과=>통계학과

In [90]:
hap=0
for i in range(1,11):
    hap+=i
print(hap)
hap=0
for i in range(0,101,7):
    hap+=i
print(hap)

55
735

In [96]:
a,b,c=0,0,0
for i in range(2,10):
    print('#%d단'%i)
    for j in range(1,10):
        print('%d X %d = %d'%(i,j,i*j))

#2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
#3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
#4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
#5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
#6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
#7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
#8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
#9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [102]:
i,hap=1,0
for i in range(1,1001,2):
    hap+=i
    if hap>1000:
        break
print(i)

63

In [107]:
re,i=0,0
a=int(input('시프트할 숫자는? '))
b=int(input('출력할 횟수는? '))
for i in range(0,b+1):
    re=a<<i
    print('%d << %d = %d'%(a,i,re))

시프트할 숫자는? 50
출력할 횟수는? 3
50 << 0 = 50
50 << 1 = 100
50 << 2 = 200
50 << 3 = 400

In [118]:
a,b,c=[],[],0
for i in range(0,4):
    for j in range(0,5):
        a.append(c)
        c+=3
    b.append(a)
    a=[]
for i in range(0,4):
    for j in range(0,5):
        print('%3d'%b[i][j],end=' ')
    print('')

  0   3   6   9  12
 15  18  21  24  27
 30  33  36  39  42
 45  48  51  54  57

In [122]:
t=()
k=1
l=list(t)
p=[]
for i in range(0,3):
    for j in range(0,3):
        l.append(k)
        k+=1
    p.append(l)
    l=[]
t=tuple(p)
print(t)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [128]:
food={'떡볶이':'오뎅','라면':'김치','치킨':'치킨무','삼겹살':'소주','짜장면':'단무지'}
while True:
    a=input(str(list(food.keys()))+'중 가장 좋아하는 음식은?')
    if a in food:
        print('%s와 잘맞는 음식은 %s이다'%(a,food.get(a)))
    else:
        break

['떡볶이', '라면', '치킨', '삼겹살', '짜장면']중 가장 좋아하는 음식은?ㅏ

In [132]:
a=0
import random
while True:
    a=random.randrange(0,101)
    print(a)
    if a%7==0:
        break

24
100
9
90
97
6
86
5
74
54
79
14

In [137]:
a=[num for num in range(0,100) if num%3==0]
print(a,end='')

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [142]:
a=['김','밥','배','불']
b=['달','이','하','루']
l=list(zip(a,b))
print(l)
a=type(l)

[('김', '달'), ('밥', '이'), ('배', '하'), ('불', '루')]

list

In [150]:
car=[]
i,top=0,0
for i in range(1,4):
    car.append('자동차%d'%i)
    print('자동차%d'%i)
    top+=1
top-=1
car.pop()
car

자동차1
자동차2
자동차3

['자동차1', '자동차2']